{% extends "index.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

 

<h1>Liste des logements</h1>
<a href="{% url 'ajouter_logement' %}" class="btn  btn-success">Ajouter un logement</a><br><br>

<div class="row">
    {% for logement in logements %}
    <div class="col-md-3">
        <div class="card">
            <a href="{% url 'detail' logement.id %}">
                <img src="{{ logement.image.url }}" alt="{{ logement.categorie }} à {{ logement.ville }}" 
                     class="card-img-top clickable-image" 
                     style="width: 100%; height: 300px; object-fit: cover;">
            </a>   
            <div class="card-body">
                <div id="aa{{ logement.id }}" class="card-title">{{ logement.categorie }} à {{ logement.ville }}</div>
                <div id="price{{ logement.id }}" style="color:orange" class="card-text"> fcfa {{ logement.prix }}</div>
                <a href="{% url 'modifier_logement' logement.pk %}" class="btn  btn-warning">Modifier</a>
                <a href="{% url 'supprimer_logement' logement.pk %}" class="btn  btn-danger">Supprimer</a>

                
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<a href="{{ request.META.HTTP_REFERER|default:'/' }}" class="btn btn-secondary back-button">Retour</a>

{% endblock %}