
{% extends "index.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }

    h3, h2 {
        text-align: center;
        color: #343a40;
    }

    a {
        display: block;
        margin: 10px auto;
        text-align: center;
        color: #007bff;
        text-decoration: none;
        font-size: 18px;
    }

    a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

    button {
        display: block;
        margin: 10px auto;
        padding: 10px 20px;
        font-size: 16px;
    }

    .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

    .btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }
</style>

{% if user.is_authenticated %} 
<h3>Bienvenus {{ user.username }}</h3><br><br>
<a href="{% url 'compte' %}"><i class="fas fa-user"></i> Profile</a><br><br>
<a href="{% url 'ajouter_logement' %}"><i class="fas fa-home"></i> Ajouter Logement</a><br><br>
<a href="{% url 'gallerie' %}"><i class="fas fa-images"></i> Mes Publications</a><br><br>
<a href="{% url 'delete_account' %}"><i class="fas fa-trash-alt"></i> Supprimer Compte</a><br><br>

{% else %}
<h2>Veiller vous authentifier s ils vous plais</h2> 
<a href="{% url 'register' %}"><button type="submit" class="btn btn-success">s inscrire</button></a>
<h2>Vous avez deja un compte ,</h2> 
<a href="{% url 'login' %}"><button type="submit" class="btn btn-success">Se connecter</button></a>
{% endif %}

<script>
    function previewImage(event) {
        const img = document.getElementById('profilePic');
        img.src = URL.createObjectURL(event.target.files[0]);
    }
</script>

{% endblock %}

