
{% extends "index.html" %}
{% load static %}
{% block content %}



   
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }
        

        .profile-container {
            background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            margin: auto;
            text-align: center;
        }
        h2 {
            color: #333;
        }
        img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
        }
        .contact-info, .basic-info {
            margin-bottom: 20px;
            text-align: left;
        }
        label {
            font-weight: bold;
        }
        .edit-button, .logout-button, .upload-button {
            background-color: #007bff;
            color: white;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            margin: 5px;
        }
        .edit-button:hover, .logout-button:hover, .upload-button:hover {
            background-color: #0056b3;
        } footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;

        }
    </style>

{% if  user.is_authenticated %} 
<h3>Bienvenus {{ user.username }}</h3><br><br>
<a href="{% url 'compte' %}">Mon compte</a><br><br>
<a href="{% url 'ajouter_logement' %}">ajouter_logement</a><br><br>
<a href="{% url 'gallerie' %}">Mes publication</a><br><br>
<a href="{% url 'delete_account' %}">supprimer compte</a><br><br>



{% else %}


<h2>Veiller vous authentifier s ils vous plais</h2> 
<a href="{% url 'register' %}"><button type="submit" class="btn btn-success">s inscrire</button></a>
<h2>Vous avez deja un compte ,</h2> 
<a href="{% url 'login' %}"><button type="submit" class="btn btn-success">Se connecter</button></a>

{% endif %}

<script>
    function previewImage(event) {
        const img = document.getElementById('profilePic');
        img.src = URL.createObjectURL(event.target.files[0]);
    }
</script>






  
  {% endblock %}


