

<div class="row">
    {% for logement in logements %}
    <div class="col-md-3">
        <div class="card">
            <img src="{{ logement.image }}" alt="" class="card-ing-top">
            <div class="card-body">
                <div id="aa{{ logement.id }}" class="card-title">{{ logement.category }}</div>
                <div id="price{{ logement.id }}" style="color:orange" class="card-text"> {{ logement.price }}</div>
                <a href="{{ logement.id }}" class="btn btn-warning">Voire</a>
                <button id="{{ logement.id }}" class="btn ted btn-success">Reserver</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="{{ logement.image }}" width="300px" height="300px" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-warning display-3" style="color:rgb(62, 15, 230)">
                {{ logement.category }}
            </div>
            <div class="text-danger "style="color:orange">
                Prix :  $ {{ logement.price }}
            </div>
            <div class="text-danger ">
                region : {{ logement.region }}
            </div>
            <div class="text-danger ">
                 Ville : {{ logement.city }}
             </div>
             <div class="text-danger ">
                Quartier : {{ logement.neighborhood }}
            </div>
            <div class="text-danger ">
                Superficie : {{ logement.area }}
            </div>
            <div>
                Description : {{ logement.description }}
            </div> 
            <a href="#"><button class="btn btn-warning" style="color:green">Reservez</button></a>
        </div>
    </div>
