{% extends "index.html" %}
{% load static %}
{% block content%}

<body>

<h2 class="text-center text-decoration">Details des logements</h2>
<div class="table1">  
<table>

   <thead>  
  <tr>
    <th>image</th>
    <th>Description</th>
  </tr>
  </thead>

<tbody>
<tr> 
    <td>
        <img src="{{ logement.image.url }}" style="width: 490px; height: 250px;">
    </td>
    <td>{{ logement.description }}  </td>
    
</tr>
</tbody>
 </table> 
</div>

<div class="table2">
<table>
    <thead>


        <tr>
            <th>Categorie</th>
            <th>Prix</th>
            <th>Region</th>
            <th>Ville</th>
            <th>Quartier</th>
            <th>Superficie</th>
            <th>proprietaire</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{ logement.categorie }}</td>
            <td> $ {{ logement.prix }}</td>
            <td>{{ logement.region }}</td>
            <td>{{ logement.ville }}</td>
            <td>{{ logement.quartier }}</td>
            <td> {{ logement.superficie }}</td> 
            <td><button ><a href="tel:{{ logement.phone }}"class="btn btn-success"><i class="fas fa-phone"></i></a></button> 

            <button><a href="https://wa.me/237{{ logement.phone }}" target="_blank"class="btn btn-success"> <i class="fab fa-whatsapp"></i></a></button>
            </td>
            
        </tr>
       
    </tbody>
</table> 
</div>
<br>

<a href="gallery"><button id="{{ logement.id }}" class="btn ted btn-success">Retour</button>
</a>

</body>
</html>
{% endblock %}