
{% extends "index.html" %}
{% load static %}
{% block content%}




<body>
  
  <style>
    
    
    .navbar a {
        color: white;
    }
    
  
   
  </style>

  <form class="d-flex mt-3" role="search">
    <a class="nav-item nav-link btn btn btn-info text-white ml-4" href="{% url 'recherche_logement' %}">rechercher logement</a> 
    
  </form>
  
  <div class="row">
    {% for logement in logements %}
    <div class="col-md-3">
        <div class="card">
            <img src="{{ logement.image.url }}" alt="" class="card-ing-top" width="300" height="300">
            <div class="card-body">
                <div id="aa{{ logement.id }}" class="card-title">{{ logement.categorie }} à {{ logement.ville }}</div>
                <div id="price{{ logement.id }}" style="color:orange" class="card-text"> {{ logement.prix }}</div>
                <a href="{{ logement.id }}" class="btn btn-warning">Voire</a>
                <button id="{{ logement.id }}" class="btn ted btn-success">Reserver</button>
                
               <button ><a href="tel:{{ logement.phone }}"class="btn btn-success"><i class="fas fa-phone"></i></a></button> 

               <button><a href="https://wa.me/237{{ logement.phone }}" target="_blank"class="btn btn-success"> <i class="fab fa-whatsapp"></i></a></button>

                
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>

{% endblock %}