<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Recherche de Logement</title>
</head>
<body>

<h1>Recherche de Logement</h1>
<form action="{% url 'recherche_logement' %}" method="GET">
    <label for="category">Catégorie :</label>
    <select id="category" name="category">
        <option value="tous">Tous</option>
        <option value="appartement">Appartement</option>
        <option value="maison">Maison</option>
        <option value="studio">Studio</option>
        <option value="chambre">Chambre</option>
    </select>

    <label for="price">Prix maximum :</label>
    <input type="number" id="price" name="price" required>

    <label for="region">Région :</label>
    <input type="text" id="region" name="region" required>

    <label for="city">Ville :</label>
    <input type="text" id="city" name="city" required>

    <label for="neighborhood">Quartier :</label>
    <input type="text" id="neighborhood" name="neighborhood">


    <label for="area">Superficie (m²) :</label>
    <input type="number" id="area" name="area" required>


    <button type="submit" id="new">Submit</button>
</form>

</body>
</html>