<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container2">
        <h2>Update Logement</h2>
        <form action="{% url 'uprec' logements.id %}" method="post">
            {% csrf_token %}
            <label for="category">Categorie</label><br><br>
            <input type="text" name="category" id="category" value="{{logements.category}}"><br><br>
            <label for="price">Prix</label><br><br>
            <input type="text" name="price" id="price" value="{{logements.price}}"><br><br>
            <label for="region">Region</label><br><br>
            <input type="text" id="region" name="region" value="{{logements.region}}"><br><br>
            <label for="city">Ville</label><br><br>
            <input type="text" id="city" name="city" value="{{logements.city}}"><br><br>
            <label for="neighborhood">Quartier</label><br><br>
            <input type="text" id="neighborhood" name="neighborhood" value="{{logements.neighborhood}}"><br><br>
            <label for="description">Description</label><br><br>
            <input type="text" id="description" name="description" value="{{logements.description}}"><br><br>
            <label for="area">Superficie (m²) :</label><br><br>
            <input type="number" id="area" name="area" value="{{logements.area}}"><br><br>
            
            <label for="image">Image</label><br><br>
            <input type="text" id="image" name="image" value="{{logements.image}}"><br><br>
            <button type="submit" id="new1">Update</button>
        </form>

    </div> 
</body>

</html>